[submodule "afxdp/lib/libbpf"]
	path = afxdp/lib/libbpf
	url = https://github.com/libbpf/libbpf/
[submodule "afxdp/lib/xdp-tools"]
	path = afxdp/lib/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
[submodule "bpftime"]
	path = bpftime
	url = https://github.com/eunomia-bpf/bpftime
[submodule "external/libbpf"]
	path = external/libbpf
	url = https://github.com/libbpf/libbpf/

[submodule "af_xdp_simple/libbpf"]
	path = af_xdp_simple/libbpf
	url = https://github.com/libbpf/libbpf/
[submodule "Pktgen-DPDK"]
	path = Pktgen-DPDK
	url = https://github.com/pktgen/Pktgen-DPDK
[submodule "external/dpdk"]
	path = external/dpdk
	url = https://github.com/DPDK/dpdk
[submodule "bpf2c/libbtf"]
	path = bpf2c/libbtf
	url = https://github.com/Alan-Jowett/libbtf.git
